@page "/"

<PageTitle>
    @AppTitle
</PageTitle>

<h1>
    @AppTitle
</h1>

<table>
    <tbody>
        <tr>
            @for (int i = 0; i < 3; i++)
            {
                var localIndex = i;
                @if (isLoading || !isLoaded)
                {
                    <td style="@GetDimensionsFormat(localIndex)"></td>
                }
                else
                {
                    <td style="@backgroundStyles[localIndex]"></td>
                }
            }
        </tr>
        <tr>
            @for (int i = 0; i < 3; i++)
            {
                var localIndex = i;
                <td>
                    <label for="@($"lockCheckBox{localIndex}")">
                        Lock
                    </label>
                    <input type="checkbox"
                           id="@($"lockCheckBox{localIndex}")"
                           @bind="@lockedImages[localIndex]"
                           disabled="@isLoading">
                </td>
            }
        </tr>
    </tbody>
</table>

<br />

<button @onclick="@GetRandomComic"
        disabled="@ButtonIsDisabled">
    Get Random Comic
</button>
