@page "/"

<PageTitle>
    @AppTitle
</PageTitle>

<h1>
    @AppTitle
</h1>

<table>
    <tbody>
        <tr>
            @for (var i = 0; i < 3; i++)
            {
                @if (isLoading || !isLoaded)
                {
                    <td style="@GetDimensionsFormat(i)"></td>
                }
                else
                {
                    <td style="@backgroundStyles[i]"></td>
                }
            }
        </tr>
        <tr>
            @for (var i = 0; i < 3; i++)
            {
                var localIndex = i;
                <td>
                    <input type="checkbox"
                           class="form-check-input"
                           id="@($"lockCheckBox{localIndex}")"
                           @bind="@lockedImages[localIndex]"
                           disabled="@isLoading">
                    <label for="@($"lockCheckBox{localIndex}")"
                           class="form-check-label">
                        Lock
                    </label>
                </td>
            }
        </tr>
    </tbody>
</table>

<br />

<button @onclick="@GetRandomComic"
        class="btn btn-primary"
        disabled="@ButtonIsDisabled">
    Get Random Comic
</button>
